{% extends "base.html"%}
{% load static %}

{% block extra_css %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
<script src="{% static 'js/charts.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container-fluid content-area"
    style="background-image:url('{{game.background_image}}');background-size: cover;">

    <div class="container">
        <div class="row">
            <div class="col-12" style="background-color:rgba(255, 255, 255, 0.6)">

                <!-- ************************************************************ TOP -->
                <h2><i class="large material-icons">games</i> Game Reviews</h2>
                <h3 class="text-center">{{game.name}}</h3>
                <p class="intro-text">
                    Platform(s): {{game.platforms}}<br>
                    Genre(s): {{game.genre}}
                </p>
                <hr>

                <!-- ************************************************************ PLAYED -->
                <div class="row">
                    <div class="col-8 offset-2 col-sm-3 offset-sm-0 pl-3 mb-1">
                        <h5 class="card-title text-center">Played x Watched</h5>
                        <h6 class="card-subtitle mb-2 text-muted text-center">
                            {% if played_percentage.watched > played_percentage.played %}
                            {{played_percentage.watched}}% watched
                            {% else %}
                            {{played_percentage.played}}% played
                            {% endif %}
                        </h6>
                        <div class="container" style="width: 80%">
                            <canvas id="played-chart"></canvas>
                        </div>

                        <!-- ************************************************************ BUTTONS -->
                        <div class="text-center p-3">
                            {% if request.user.is_authenticated and user.id in users %}
                            <form method="POST" action="{% url 'review' %}" class="form d-inline"
                                enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="hidden" name="game-id" value='{{game.id}}'>
                                <input type="hidden" name="edit-game" value='{{game.id}}'>
                                <button class="btn btn-secondary mt-2" type="submit">
                                    <i class="material-icons tiny"
                                        style="vertical-align: middle !important;">create</i>
                                        Edit my review
                                </button>
                            </form>
                            {% else %}
                            <form method="POST" action="{% url 'review' %}" class="form d-inline"
                                enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="hidden" name="game-id" value='{{game.id}}'>
                                <button class="btn-sm btn-secondary mt-2" type="submit">
                                    <i class="material-icons tiny"
                                        style="vertical-align: middle !important;">rate_review</i>
                                    Review this!
                                </button>
                            </form>
                            {% endif %}
                        </div>
                    </div>

                    <!-- ************************************************************ CATEGORIES -->

                    <div class="col-12 col-sm-6 p-0 mb-1">
                        <h5 class="card-title text-center">Categories</h5>
                        <div class="container p-1">
                            <canvas id="category-chart"></canvas>
                        </div>
                    </div>

                    <!-- ************************************************************ EMOTIONS -->


                    <div class="col-12 col-sm-3 pl-0 mb-1 text-center">
                        <h5 class="card-title">Main Emotions</h5>
                        <div class="container">
                            <canvas id="emotions-chart"></canvas>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        

    </div>
</div>

{% endblock %}

{% block postLoad_js %}
<script>
    populateAndCreateChart("{{played_percentage}}", playedChart);
    populateAndCreateChart("{{categories_percentage}}", categoryChart);
    populateAndCreateChart("{{emotions_percentage}}", emotionsChart);
</script>
{% endblock %}