{% extends "base.html"%}
{% load static %}

{% block extra_css %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="{% static 'reviews/css/tags.css' %}">

{% endblock %}


{% block extra_js %}
{% endblock %}

{% block content %}
<!-- ************************************************************ BACKGROUND IMAGE -->
<div class="container-fluid content-area"
    style="background-image:url('{% if game.background_image_additional %}{{game.background_image_additional}}{% else %}{{game.background_image}}{% endif%}');background-size: cover;">

    <div class="container">
        <div class="row">
            <div class="col-12" style="background-color:rgba(255, 255, 255, 0.6)">

                <!-- ************************************************************ TOP -->
                <h2>Review</h2>
                <h3 class="text-center">{{game.name}}</h3>
                <p class="intro-text">
                    Platform(s): {{game.platforms}}<br>
                    Genre(s): {{game.genre}}
                </p>
                <hr>

                <!-- ************************************************************ USER INPUT -->
                <p class="main-text">Tell us an emotion that appeared while you were playing {{game.name}}</p>

                <div class="col-12 col-sm-6 offset-sm-3">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="emotion-input" id="emotion-input"
                            placeholder="Start typing an emotion..." aria-label="Start typing an emotion..."
                            aria-describedby="button-addon2" class="emotion-input">
                        <div class="input-group-append">
                            <button class="btn btn-outline-dark" id="add-emotion"
                                onclick="addInput('onclick')">Add</button>
                        </div>
                    </div>
                </div>


                <!-- ************************************************************ CATEGORY LIST -->

                <p class="main-text">or chose by category here:
                    <button class="btn btn-info btn-sm" type="button" data-toggle="collapse"
                        data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Choose by category
                    </button>
                </p>
                <div class="col-12 col-sm-6 collapse" id="collapseExample">

                        <div class="accordion" id="accordionExample">

                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left" type="button"
                                            data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                            aria-controls="collapseOne">
                                            {{categories}}
                                        </button>
                                    </h2>
                                </div>

                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                    data-parent="#accordionExample">
                                    <div class="card-body">
                                        emotions
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left collapsed" type="button"
                                            data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                            aria-controls="collapseTwo">
                                           category
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                    data-parent="#accordionExample">
                                    <div class="card-body">
                                        emotions
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left collapsed" type="button"
                                            data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                                            aria-controls="collapseThree">
                                            category
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                    data-parent="#accordionExample">
                                    <div class="card-body">
                                        emotions
                                    </div>
                                </div>
                            </div>

                    </div>
                </div>



                <!-- ************************************************************ SUBMISSION FORM -->
                <p class="main-text">Emotions selected for this game:</p>
                <p>
                <form method="POST" action="{% url 'post_review' %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="main-container">
                        <div class="tag-container">
                        </div>
                    </div>
                    <div class="text-center">
                        <input id="pk-list" name="pk-list" type="hidden" value="">
                        <button class="btn btn-large btn-dark" type="submit" onclick="printTags()">Submit</button>
                    </div>
                </form>
                </p>

            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postLoad_js %}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{% static 'reviews/js/review.js' %}"></script>

<script>
    $(function () {
        $("#emotion-input").autocomplete({
            source: "{% url 'review' %}"
        });
        emotions.loadEmotions('{{emotions}}', '{{categories}}');
    });
</script>
{% endblock %}