{% extends "base.html"%}
{% load static %}

{% block extra_css %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="{% static 'reviews/css/tags.css' %}">

{% endblock %}


{% block extra_js %}
{% endblock %}

{% block content %}
<!-- ************************************************************ BACKGROUND IMAGE -->
<div class="container-fluid content-area"
    style="background-image:url('{% if game.background_image_additional %}{{game.background_image_additional}}{% else %}{{game.background_image}}{% endif%}');background-size: cover;">

    <div class="container">
        <div class="row">
            <div class="col-12" style="background-color:rgba(255, 255, 255, 0.6)">

                <!-- ************************************************************ TOP -->
                <h2><i class="large material-icons">rate_review</i> Review</h2>
                <h3 class="text-center">{{game.name}}</h3>
                <p class="intro-text">
                    Platform(s): {{game.platforms}}<br>
                    Genre(s): {{game.genre}}
                </p>
                <hr>

                <!-- ************************************************************ USER INPUT -->
                {% if not request.user.is_authenticated %}
                <div class="col-12">
                    <p class="main-text p-2">Would you like to sign up to keep track of your data?
                        <a class="btn btn-info" href="{% url 'account_signup' %}">Sign up</a>
                        <a class="btn btn-dark" href="{% url 'account_login' %}">Sign in</a>
                    </p>
                </div>
                
                {% endif %}

                <p class="main-text m-5">Tell us the emotions you had towards {{game.name}}:</p>

                <div class="col-12 col-sm-6 offset-sm-3">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="emotion-input" id="emotion-input"
                            placeholder="Start typing an emotion..." aria-label="Start typing an emotion..."
                            aria-describedby="button-addon2" class="emotion-input">
                        <div class="input-group-append">
                            <button class="btn btn-outline-dark" id="add-emotion"
                                onclick="addInput('onclick')">Add</button>
                        </div>
                    </div>
                </div>


                <!-- ************************************************************ CATEGORY LIST -->

                <div class="col-12 col-sm-6 offset-sm-3 mb-4">
                    <button class="btn btn-outline-secondary btn-sm" type="button" data-toggle="collapse"
                        data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        or choose by category
                    </button>
                </div>


                <div class="col-12 col-sm-6 collapse" id="collapseExample">

                    <div class="accordion" id="accordionExample">

                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left" type="button"
                                        data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                        aria-controls="collapseOne">
                                        {{categories}}
                                    </button>
                                </h2>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    emotions
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button"
                                        data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                        aria-controls="collapseTwo">
                                        category
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    emotions
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button"
                                        data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                        category
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    emotions
                                </div>
                            </div>
                        </div>

                    </div>
                </div>



                <!-- ************************************************************ SUBMISSION FORM -->

                <div class="text-center">
                    <form method="POST" action="{% url 'post_review' %}" class="form mb-2"
                        enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">

                            <label class="btn btn-secondary active">
                                <input type="radio" name="{{form.played.name}}" id="option0"
                                    value="{{form.played.field.widget.choices.0.0}}" checked="checked">
                                <i class="large material-icons">
                                    videogame_asset
                                </i><br>
                                {{ form.played.field.widget.choices.0.1 }}
                            </label>

                            <label class="btn btn-secondary">
                                <input type="radio" name="{{form.played.name}}" id="option1"
                                    value="{{form.played.field.widget.choices.1.0}}">
                                <i class="large material-icons">
                                    video_label
                                </i><br>
                                {{ form.played.field.widget.choices.1.1 }}
                            </label>

                        </div>


                        <div class="main-container">
                            <p class="main-text">Emotions selected for this game:</p>
                            <div class="tag-container bg-dark col-12 col-sm-6 offset-sm-3">

                            </div>
                            {{ form.pk_list }}
                        </div>
                        <div class="text-center">
                            <input id="game-id" name="game-id" type="hidden" value="{{game.id}}">
                            {% if request.user.is_authenticated %}
                            <button class="btn btn-large btn-info" type="submit" onclick="printTags()">Submit</button>
                            {% else %}
                            <button class="btn btn-small btn-outline-secondary" type="submit"
                                onclick="printTags()">Submit (anonymous)</button>
                            {% endif %}
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block postLoad_js %}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{% static 'reviews/js/review.js' %}"></script>

<script>
    $(function () {
        $("#emotion-input").autocomplete({
            source: "{% url 'review' %}"
        });
        emotions.loadEmotions('{{emotions}}', '{{categories}}');
    });
</script>
{% endblock %}