{% extends "base.html"%}
{% load static %}

{% block extra_css %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block extra_js%}
<script type="text/javascript">
    function topFunction() {
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }
    function sortBy(term, type) {
        var currentUrl = new URL(window.location);
        currentUrl.searchParams.set(type, term);
        window.location.replace(currentUrl);
    }
</script>
{% endblock %}

{% block content %}
<div class="container content-area">

    <div class="row">
        <div class="col-12">
            <!-- ************************************************************ TOP -->
            <h2>Chose a game</h2>

            <div class="row">
                <div class="col-12 text-center" id="sorting">

                    <!-- ************************************************************ sort: LATEST -->
                    <a class="btn btn-sm m-1 {% if sorting == 'latest'%}btn-outline-secondary{% else %}btn-outline-info{% endif %}"
                        type="button" href="{% url 'review_list' %}">
                        latest reviews
                    </a>

                    <!-- ************************************************************ sort: CATEGORY -->
                    <button
                        class="btn btn-sm m-1 {% if sorting.0 == 'category'%}btn-outline-secondary{% else %}btn-outline-info{% endif %}"
                        type="button" data-toggle="collapse" data-target="#collapseCat" aria-expanded="false"
                        aria-controls="collapseCat">
                        choose by category
                    </button>

                    <!-- ************************************************************ sort: EMOTION -->
                    <button
                        class="btn btn-sm m-1 {% if sorting.0 == 'emotion'%}btn-outline-secondary{% else %}btn-outline-info{% endif %}"
                        type="button" data-toggle="collapse" data-target="#collapseEm" aria-expanded="false"
                        aria-controls="collapseEm">
                        choose by emotion
                    </button>

                    <!-- ************************************************************ collapse: CATEGORY -->
                    <div class="col-12 collapse text-center mb-3" id="collapseCat" data-parent="#sorting">
                        {% for category in categories %}
                        <button class="btn btn-secondary m-1" onclick="sortBy('{{category}}', 'category')">
                            {{category}}
                        </button>
                        {% endfor %}
                    </div>


                    <!-- ************************************************************ collapse: EMOTION -->
                    <div class="col-12 collapse text-center mb-3" id="collapseEm" data-parent="#sorting">
                        
                        {% for category in categories %}
                        <button class="btn btn-secondary m-1" data-toggle="collapse"
                            data-target="#emotion-by-category-{{ forloop.counter }}" aria-controls="emotion-by-category"
                            aria-expanded="false">
                            {{category}}
                        </button>
                        {% endfor %}

                        {% for category in categories_model %}
                        <div class="col-12 collapse" id="emotion-by-category-{{ category.pk }}"
                            data-parent="#collapseEm">

                            {% for em in emotions_model %}
                            {% if em.fields.category == category.pk %}
                            <button class="btn btn-warning m-1"
                                onclick="sortBy('{{em.fields.name}}', 'emotion')">{{em.fields.name}}</button>
                            {% endif %}
                            {% endfor %}

                        </div>
                        {% endfor %}

                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p class="text-right small mb-0">Sorting by:
                        {% if sorting == 'latest' %}
                        latest reviews
                        {% else %}
                        {{sorting.1}}
                        {% endif %}
                    </p>
                </div>
            </div>


            <hr>

            <!-- ************************************************************ CARDS -->
            {% if games|length > 0 %}
            {% for game in games %}
            <div class="card mb-3">
                <div class="row no-gutters position-relative">
                    <div class="col-md-3">
                        <img src="{{game.0.background_image}}" class="card-img" alt="...">
                    </div>
                    <div class="col-md-9 position-static">
                        <div class="card-body">
                            <h5 class="card-title">{{game.0.name}}</h5>
                            <p class="text-muted mb-4">
                                Released on {{game.0.released | slice:"5:7"}}.{{game.0.released | slice:"0:4"}}
                            </p>

                            <a class="btn btn-outline-danger" href="{% url 'game_reviews' game.0.id%}">
                                <i class="material-icons tiny" style="vertical-align: middle !important;">star</i>
                                Check reviews
                            </a>
                            <form method="POST" action="{% url 'review' %}" class="form d-inline"
                                enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="hidden" name="game-id" value='{{game.0.id}}'>
                                <button class="btn btn-outline-info" type="submit">
                                    <i class="material-icons tiny"
                                        style="vertical-align: middle !important;">rate_review</i>
                                    Review this!
                                </button>
                            </form>

                            <p class="card-text mt-2"><small class="text-muted">Last reviewed on {{game.1}}</small></p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

            <!-- ************************************************************ EMPTY SEARCH -->
            {% else %}
            <h5 class="text-center"> No games found</h5>
            {% endif %}
            <p class="mt-5 mb-5">
                <a href="#" onclick="topFunction()">Back to top</a>
            </p>

        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script type="text/javascript">
    function sortBy(term, type) {
        var currentUrl = new URL(window.location);
        currentUrl.searchParams.set(type, term);
    }
    $('#sort-selector').change(function () {
        var selector = $(this);
        var currentUrl = new URL(window.location);

        var selectedVal = selector.val();
        if (selectedVal != "reset") {
            var sort = selectedVal.split("_")[0];
            var direction = selectedVal.split("_")[1];

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");

            window.location.replace(currentUrl);
        }
    })
</script>
{% endblock %}