

.main-container {
    margin: 30px auto;
    position: relative;
}

.tag-container {
    min-height: 60px;
    height: calc(100vh - 750px);
    border-radius: 3px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 6px;
    overflow-x: scroll;
}

.tag-container .tag {
    height: 30px;
    margin: 5px;
    padding: 5px 6px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #eee;
    display: flex;
    align-items: center;
    color: #333;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 1px 1px #fff;
    cursor: default;
}

.tag i {
    font-size: 16px;
    color: #666;
    margin-left: 5px;
    cursor: pointer;
}

#pk-list {
    position: absolute;
    top:50%;
    left:50%;
    z-index: -1;
}
