{% extends "base.html"%}
{% load static %}

{% block extra_css %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'profiles/css/profile.css' %}">

{% endblock %}

{% block content %}
<div class="container content-area">
    <div class="row">

        <!-- ************************************************ AUTHENTICATED -->


        <div class="col-12">
            <h2><i class="large material-icons">account_circle</i> Profile</h2>

            {% if from_review %}
            <h1>Thank you for your review {{ profile }}!</h1>
            {% endif %}

            <h2 class="text-center">
                {{ profile|title }}'s statistics
            </h2>

            <div class="card-group">
                <div class="card">

                    <div class="card-body">
                        <h5 class="card-title text-info">Number of games <br>reviewed</h5>
                        <p class="card-text">
                            {{ reviews }}
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">
                            Last game reviewed:
                            {{last_review}}
                        </small>
                    </div>
                </div>
                <div class="card">

                    <div class="card-body">
                        <h5 class="card-title text-info">Top Emotion</h5>
                        <p class="card-text">
                            {{ top_emotion | title}}
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">
                            {% if request.user.is_authenticated %}
                            {% for game in games_top_emotions %}
                            {{game}}<br>
                            {% endfor %}
                            {%else%}
                            {{games_top_emotions}}
                            {% endif %}
                        </small>
                    </div>
                </div>
                <div class="card">

                    <div class="card-body">
                        <h5 class="card-title text-info">Top Category</h5>
                        <p class="card-text">
                            {{ top_category | title }}
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">
                            {% if request.user.is_authenticated %}
                            {% for game in games_top_category %}
                            {{game}}<br>
                            {% endfor %}
                            {%else%}
                            {{games_top_category}}
                            {% endif %}
                        </small>
                    </div>
                </div>
            </div>

            <h2>Games</h2>


            {% if request.user.is_authenticated %}

            {% for game in games %}
            <p class="mb-1">
            <a href="{% url 'game_reviews' game.game %}" class="btn-sm btn-secondary">{{ game.game__name }}</a>

            <a href="{% url 'delete_review' game %}" class="small">delete</a><br>
            </p>
            {% endfor %}

            {% else %}
            <p>?</p>
            <p>
                Create a profile to get access to your statistics!
                <a class="btn btn-info" href="{% url 'account_signup' %}">Sign up</a>
                <a class="btn btn-dark" href="{% url 'account_login' %}">Sign in</a>
                {% endif %}
            </p>
        </div>






    </div>
</div>

{% endblock %}