{% extends "base.html"%}
{% load static %}

{% block extra_css %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
<script src="{% static 'js/charts.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container content-area">
    <div class="row">

        <div class="col-12">
            <h2>
                <i class="large material-icons">
                    {% if profile.donated %}
                    stars
                    {% else %}
                    account_circle
                    {% endif %}
                </i> 
                Profile
            </h2>

            <!-- ************************************************ MESSAGES -->
            {% if messages %}
            {% for message in messages %}
            {% if message.extra_tags == 'heart' %}
                <h4 class="text-center"><i class="large material-icons">favorite</i> {{message}}</h4>
            {% endif %}
            {% if message.extra_tags == 'regular' %}
                <p class="text-center">{{message}}</p>
            {% endif %}
            {% endfor %}
            {% endif %}


            <!-- ************************************************ CARDS PROFILE -->
            <h2 class="text-center">
                {{ profile|title }}'s statistics
            </h2>

            <div class="card-group">
                <div class="card">

                    <div class="card-body">
                        <h5 class="card-title text-info">Number of games <br>reviewed</h5>
                        <p class="card-text">
                            {{ reviews }}
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">
                            Last game reviewed:
                            {{last_review}}
                        </small>
                    </div>
                </div>
                <div class="card">

                    <div class="card-body">
                        <h5 class="card-title text-info">Top Emotion</h5>
                        <p class="card-text">
                            {{ top_emotion | title}}
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">
                            {% if request.user.is_authenticated %}
                            {% for game in games_top_emotions %}
                            {{game}}<br>
                            {% endfor %}
                            {%else%}
                            {{games_top_emotions}}
                            {% endif %}
                        </small>
                    </div>
                </div>
                <div class="card">

                    <div class="card-body">
                        <h5 class="card-title text-info">Top Category</h5>
                        <p class="card-text">
                            {{ top_category | title }}
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">
                            {% if request.user.is_authenticated %}
                            {% for game in games_top_category %}
                            {{game}}<br>
                            {% endfor %}
                            {%else%}
                            {{games_top_category}}
                            {% endif %}
                        </small>
                    </div>
                </div>
            </div>
            <!-- ************************************************ PAYMENT -->
            {% if not profile.donated and request.user.is_authenticated %}
            <div class="row">
                <div class="col-12 p-3">
                    <p class="text-center">
                        Do you like using Gemotion? <a href="{% url 'payment' %}" class="btn-sm btn-info">donate!</a>
                    </p>
                </div>
            </div>
            {% endif %}
            
                <!-- ************************************************ CHARTS -->
            <div class="row">
                <div class="col-sm-8" id="chartArea">
                    <h2 class="card-title text-center">Categories</h2>
                        <div class="container p-1">
                            <canvas id="profile-categories"></canvas>
                        </div>
                </div>
                <!-- ************************************************ GAMES -->
                <div class="col-sm-4">
                    <h2>Games</h2>
                    {% if request.user.is_authenticated %}

                    {% for game in games %}
                    <p class="mb-1">
                        <a href="{% url 'game_reviews' game.game %}"
                            class="btn-sm btn-secondary">{{ game.game__name }}</a>
                    </p>
                    {% endfor %}

                    {% else %}
                    <p>?</p>
                    <p class="text-center">
                        Create a profile to get access to your statistics!
                    </p>
                    <p class="text-center">
                        <a class="btn btn-info" href="{% url 'account_signup' %}">Sign up</a>
                        <a class="btn btn-dark" href="{% url 'account_login' %}">Sign in</a>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block postLoad_js %}
<script>
    populateAndCreateChart("{{categories_percentage}}", profileCatChart);
</script>
{% endblock %}