.card-body {
    background: url('../../../static/media/12364.png') no-repeat center top fixed;
    background-size: cover;
}

.card-text {
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: 21pt;
    color: rgb(78, 78, 78);
}