

.card-body {
    background: url('../../../staticfiles/media/12364.png') no-repeat center top fixed;
    background-size: cover;
}

.card-text {
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: 21pt;
    color: rgb(78, 78, 78);
}

 .StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: rgb(211, 211, 211);
    border: 1px solid rgb(212, 211, 211);
}