
h1 {
    margin-top: 15vh;
    margin-bottom: 15vh;
    font-family: 'Kanit', sans-serif;
}

h2 {
    margin-top: 5vh;
    margin-bottom: 5vh;
    font-family: 'Kanit', sans-serif;
}



/* ------------------------------------------------ NAVBAR */
.navbar-brand{
    font-family: 'Bungee Inline', cursive;
    font-size: 21pt;

}

.nav-back {
    height: 60px;
}

.menu-list>li {
    padding-left: 20px;
    padding-right: 20px;
}

/* ------------------------------------------------ CARDS */

.card-img-wrapper {
    height: 200px;
    overflow: hidden;
    background-color: aliceblue;
}

.card-img {
    /* width: inherit; */
    height: 200px;
    object-fit: cover;
}




/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}