{% extends "base.html"%}
{% load static %}

{% block content %}
<div class="container">

    <div class="row">
        <div class="col-12">
            <h1>Review a game<br>according to your emotions</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <form method="POST" action="{% url 'game_list' %}" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control" id="game-search" name="game-title" placeholder="Type here a game title">
                </div>
                <div class="text-right">
                    <button type="submit" class="btn btn-info">Search</button>
                </div>
                
            </form>
        </div>
    </div>
</div>

{% endblock %}